body         { 
font-family: Arial; 
color: #000000; 
font-size: 12pt; 
margin-left: 5pt; 
margin-bottom: 5pt; 
margin-right: 5pt; 
margin-top: 5pt; 
} 
table{  
border: 1pt Solid Black; } 
td{  
border: 1pt Solid Gray; } 
.pwd{  
text-align: center;  
font-weight: Bold;  
width:60pt; 
font-family: Courier;  
font-size: 12pt; } 
.head{  
text-align: center;  
font-weight: Bold;  
font-size: 12pt; } 
.fio{  
width:200pt; } 
.name{  
text-align: center;  
width:80pt; } 
.domain{  
text-align: center;  
width:80pt; } 
.data{  
text-align: center;  
width:120pt; } 
