body {
   background-color: buttonface;
   font-family: Helvetica;
   font-size: 8pt;
   margin: 10px;
}
h1 {
	font-size : 12px;
}
.button {
   font-family: Helvetica;
   font-size: 8pt;
   width: 35px;
}
select {
   font-family: arial;
   font-size: 8pt;
   margin-left: 0px;
}
#output {
   background-color:silver;
   margin:5px 0;
   padding:10px 5px;
   list-style : none;
   border: 1px Solid Black;
   display:none;
}

#intro {
   font-family: arial;
   font-size: 10pt;
   background : Silver;
   border-top: 1px Solid Black;
   border-bottom: 1px Solid Black;
   padding: 10px 5px;
   margin: 10px 0;
   text-indent : 30px;
   text-align : justify;
}
